.todo-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
 }
 .todo-item p {
  color:black;
  
   
 }
 .shape{
   
  background-color:rgb(10, 137, 137);
  border-radius: 10px;
  width: 200px;
 }
 .todo-list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 200px;
 }
 .App {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

 

  


 